@font-face {
    font-family: 'Dosis';
    src: url('./Dosis-Light.ttf');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('./Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('./Dosis-ExtraBold.ttf');
}

$Dosis : 'Dosis';